#logo svg {
	width:180px;
}

.st0{fill:none;stroke:url(#SVGID_1_);stroke-width:3;stroke-miterlimit:10;}
.st1{fill:none;stroke:#FFAB91;stroke-width:3;stroke-miterlimit:10;}
.st2{fill:none;stroke:#FFD600;stroke-width:3;stroke-miterlimit:10;}

.svgStyle {enable-background:new 0 0 180 180;}
.stop0 {stop-color:#FFAB91;}
.stop1 {stop-color:#FFD600;}