* {
	margin: 0;
	padding: 0;
}

html {
	overflow: hidden;
}

body {
	font-size: 14px;
	font-family: HelveticaNeue, "Lucida Grande", Helvetica, Arial, sans-serif;
	color: #010101;
}

button {
	background-image: linear-gradient(-180deg, #4C98FE 0%, #0664E3 100%);
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.15);
	border-radius: 3px;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: -0.11px;
	line-height: 12px;
	height: 21px;
	width: 60px;
	border: 0.5px solid #247EFF;
}

button:disabled {
	background: #eee;
	color: #aaa;
}

button:hover {
	background-image: linear-gradient(-180deg, #5DA9FF 0%, #1775F4 100%);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
}

button:hover:disabled {
	background: #eee;
	color: #aaa;
}


select {
	width: 254px;
	height: 21px;
	font-size: 13px;
}

label {
	font-size: 13px;
}

footer {
	position:fixed;
	left:0;
	bottom:0;
	height:30px;
	padding-top:10px;
	width:100%;
	text-align: center;
	border-top: 1px solid #EDEAE8;
	background: white;
}

#app {
	margin:27px auto;
	display: flex;
	background: white;
	width: 500px;
}

#logo svg {
	width:180px;
}

#form .field {
	margin-top:20px;
	line-height: 1.5;
}

#form .button {
	margin-top: 10px;
	text-align: right;
}

@keyframes moveLeft {
    0%   {margin-left: 0px;}
    100% {margin-left: 160px;}
}

@keyframes moveBack {
    0%   {margin-left: 160px;}
    100% {margin-left: 0px;}
}

#app.flashing #logo {
	animation: moveLeft 500ms ease-in;
	margin-left: 160px;
}

#app.flashing #form {
	display: none;
}

#app.finished #logo {
	animation: moveBack 500ms ease-in;
	margin-left: 0px;
}

#app.finished #form {
	display: inline-block;
}

