* {
	margin: 0;
	padding: 0;
}

html {
	overflow: hidden;
}

body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	font-family: HelveticaNeue;
	color: #010101;
}

button {
	/* Background: */
	background-image: linear-gradient(-180deg, #4C98FE 0%, #0664E3 100%);
	/* Sketch doesnt export gradient borders at this point */
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.15);
	border-radius: 3px;
	/* Button: */
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: -0.11px;
	line-height: 12px;
	height: 21px;
	width: 60px;
	border: 0.5px solid #247EFF;
}

select {
	width: 254px;
	height: 21px;
	font-size: 13px;
}

label {
	font-size: 13px;
}

footer {
	position:fixed;
	left:0;
	bottom:0;
	height:30px;
	padding-top:10px;
	width:100%;
	text-align: center;
	border-top: 1px solid #EDEAE8;
}

img {
	width: 180px;
	display: inline-block;
}
#form {
	display: inline-block;
	width: 300px;
}